@font-face {
    font-family: "myfont"; 
    src: url("font/NotoSansJP-VariableFont_wght.ttf") format("truetype"); 
    font-display: swap; 
}

body{
    background: rgb(237, 236, 255);
    font-family: "myfont",sans-serif; 
}
h1{
    color: #0056b3;
    font-size: 150%; /*　デフォルトのテキストサイズの1.5倍 */
    text-align: center;
}
/*  */
.classwork{
    background: #0056b3;
    border: 2px solid #666666;
    background: linear-gradient(rgba(238,130,238,0.3) 20%,rgba(255,0,0,0.3) 40%,rgba(0,0,255,0.3) 60%,rgba(60,179,113,0.3) 80%,rgba(255,165,0,0.3)100%);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    
}
/* class */
.classwork button{
    padding: 6px;
    width: 100%;
    border-radius: 10px;
}
.classwork button:active{
    background: #e00000;
}
.counter{
    width: 40px;
    height: 40px;
    font-size: large;
}
.chose{
    width: 15px;
    height: 15px;
}
/* 時間を決める部分 */
.timebg{
    text-align: center;
    background: white; 
    font-size: 20px;
    margin-top: 10px;
    padding: 5px;
    border: 2px solid #666666;
    border-radius: 10px;
}
.result{
    background: rgb(249, 249, 249);
    text-align: center;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
}
.entry{
    width:70px;
    color: rgb(249, 249, 249);
    background: #ff3333;
    margin-top: 10px;
    padding: 10px; 
    margin-right: 5%;
}
.delete{
    width:70px;
    color: rgb(249, 249, 249);
    background: #3333ff;
    margin-top: 10px;
    margin-left: 5%;
    padding: 10px; 

}

hr{
    border: 1px solid rgb(249, 249, 249);
}
table{
    margin: 0 auto;
    margin-top: 10px;
    background: rgb(249, 249, 249);
    border-radius: 5px;
    border-collapse: collapse;
}
th{
    background: #3377fa;
    color: aliceblue;
    text-shadow:1px 2px 3px black;
}